 @charset "UTF-8";
/* CSS Document */

/* COLORS

DARK GREY #2a353c;
LIGHT GREY #e2ebf0;

BRIGHT BLUE #3ca9de;
BRIGHT BLUE TEXT SHADOW #60beec;

ORANGE #eb5524;
ORANGE TEXT SHADOW #f85a27;

RED #d41d53;

*/


@media only screen and (max-width: 1035px) {
  /* For general iPad layouts */
  
  	html, body, #contain_all {
		position:relative;
		width:100%;
		height:100%;
	}
	#contain_all {
		position:fixed;
		overflow-y:scroll;
		overflow-x:hidden;
	}
  	#content {
		position:relative;
		margin-top:50px;
	}
	#admin_nav {
		height:50px;
		position: fixed;
		width: 100%;
		z-index: 500;
		left:0;
	}
	
	#admin_nav ul li.branding_link_holder, 
	#admin_nav ul li.branding_link_holder a.branding_link
	#admin_nav ul li.branding_link_holder:hover a.branding_link, 
	#admin_nav ul li a.branding_link, 
	#admin_nav ul li:hover a.branding_link, 
	
	#admin_nav ul li.mobile_link, 
	#admin_nav ul li.mobile_link a
	#admin_nav ul li.mobile_link:hover a
	 {
		border:0 !important;
		background:none !important;
		background-color:transparent !important;
		height:0 !important;
	}
	
	
	#admin_nav ul li.mobile_link {
		display:block;
		position:fixed;
		left:20px;
		top:12px;
	}
	
	#admin_nav ul li.mobile_link img {
		width:35px;
		height:25px;
	}
	
	#admin_nav ul li.mobile_link, #admin_nav ul li.mobile_link a, #admin_nav ul li.mobile_link:hover, #admin_nav ul li.mobile_link:hover a {
		margin:0 !important;
		padding:0 !important;
		width:25px !important;
		height:25px !important;
		background:none !important;
		border:0 !important;
	}
	
	#admin_nav ul li a.branding_link {
		position:fixed;
		top: 7px;
		left:75px;
	}
	#admin_nav_holder {
		width:100px;
		position:fixed;
		height:100%;
		z-index:500;
		top:50px;
		background: #2a353c;
		left:-100px;
	} 
	
	#mobile_nav_holder {
		display:block;
		height:100%;
		overflow-y:scroll;
		position:absolute;
		padding-bottom:100px;
	}
	
	#mobile_nav_holder::-webkit-scrollbar { 
		display: none; 
	}
	
	#current_subscription {
		float:left;
	}
	
	#admin_nav ul li {
		display:block;
		width:100px;
		height:100px;
		margin:0;
		border:0;
		text-align:center;
		padding-top:30px;
		display:table-row;
		vertical-align:bottom;
	}
	
	#admin_nav ul li:hover {
		background:#3ca9de;
	}
	
	#admin_nav ul li.orders_waiting {
		background:none;
	}
	
	#admin_nav ul li a, 
	#admin_nav ul li p, 
	#admin_nav ul li:hover a, 
	#admin_nav ul li:hover p,  
	#admin_nav ul li.orders_waiting a, 
	#admin_nav ul li.orders_waiting:hover a, 
	#admin_nav ul li.current_page p, 
	#admin_nav ul li.current_page:hover p {
		border-bottom:1px solid #000;
		border-top:1px solid #38464f;
		padding:0 0 5px;
		display:block;
		line-height:1em;
		display:table-cell;
		vertical-align:bottom;
		background-image:url(../images/mobile_menu_sprite.png);
		background-repeat:no-repeat;
		background-position: 12px 0px;
	}
	
	#admin_nav ul li.orders_waiting a {
		background-color:#ef4036;
		border-top:0;
	}
	
	#admin_nav ul li.current_page p, 
	#admin_nav ul li.current_page:hover p, 
	#admin_nav ul li:hover a, 
	#admin_nav ul li:hover p, 
	#admin_nav ul li.orders_waiting:hover a, 
	#admin_nav ul li.orders_waiting:hover a {
		background-image:url(../images/mobile_menu_sprite.png);
		background-repeat:no-repeat;
		background-color:#3ca9de;
		border-bottom:1px solid #2f81a9;
		border-top:1px solid #60beec;
		background-position: 10px 0x;
	}
	
	#admin_nav ul li.current_page p, #admin_nav ul li.current_page:hover p {
		border:0;
		border-bottom:1px solid #2f81a9;
	}
	
	#admin_nav ul li.control_panel_link p, #admin_nav ul li.control_panel_link a, #admin_nav ul li.control_panel_link:hover p, #admin_nav ul li.control_panel_link:hover a {
		background-position:12px -8px !important;
	}
	
	#admin_nav ul li.multi-family_link p, #admin_nav ul li.multi-family_link a {
		background-position:11px -100px !important;
	}
	
	#admin_nav ul li.my_account_link p, #admin_nav ul li.my_account_link a {
		background-position:12px -204px !important;
	}
	
	#admin_nav ul li.beacons_link p, #admin_nav ul li.beacons_link a {
		background-position:13px -310px !important;
	}
	
	#admin_nav ul li.orders_link p, #admin_nav ul li.orders_link a, #admin_nav ul li.orders_link:hover p, #admin_nav ul li.orders_link:hover a {
		background-position:13px -403px !important;
	}
	
	#admin_nav ul li.orders_link:hover p, #admin_nav ul li.orders_link:hover a {
		background-position:13px -404px !important;
	}
	
	#admin_nav ul li.logout_link p, #admin_nav ul li.logout_link a {
		background-position:10px -500px !important;
	}
	
	
	#current_subscription {
		float: none;
		position: fixed;
		top: 0;
		left: 185px;
	}
	
	.control_panel_link, .multi-family_link, .my_account_link, .beacons_link, .orders_link, .logout_link {
		
	}
	
	/* MY ACCOUNT SECTION */
	
	#customer_info, #account_listing_info_holder {
		width:100%;
	}
	
	.card_info, #customer_info, #account_listing_info_holder, #order_beacons, #payment_wrapper {
		width:100%;
	}
	
	#order_beacons_count {
		width:auto;
	}
	
	#order_beacons_form {
		width:100%;
	}
	
	
}


@media only screen and (max-width: 980px) { 
	div {
		box-sizing:border-box;
	}
	#available_beacons,  .hints {
		display:none;
		visibility:hidden;
	}
	
	 #prop_map iframe {
		display:none;
	}
	
	#get_lat_long_button {
		display:block;
	}
	
	#add_building_beacon_button {
		display:block;
	}
}

@media only screen and (max-width: 780px) { 
	#current_subscription {
		display:none;
	}
	.prop_container_main {
		margin-left:20px;
		margin-right:20px;
	}
	
	.property_info {
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	
	
	.walker-paradise, .walkers-paradise, .very-walkable, .somewhat-walkable, .car-dependent, .school {
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	
	#show_schoolscore div.gs_info {
		margin-top:-10px;
	}
	
	.child_container {
		padding-left:0;
		padding-right:0;
		background:none;
		border:0;
		border-top: 1px solid #8c99a6;
	}
	
	#flyer_form_holder {
		display:none;
	}
	
	#property_status_form ul li {
		display:inline-block;
		width:auto;
		cursor:pointer;
	}
	.one_half #share_url {
		width:100%;
		max-width:none;
	}
	
	#remove_all {
		display:none;
	}
	
	#submit_holder {
		margin-top:10px;
		display: block;
	}
	
}

@media only screen and (max-width: 480px) { 
	
	#login, #forgot_password, #form_right, #log_register, #register_form {
		width:100%;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	
	#bumper form input {
		width:100%;
		max-width:none;
	}
	
	#show_schoolscore div.gs_rating {
		width: 80px;
		height: 80px;
		-webkit-border-radius: 40px;
		-moz-border-radius: 40px;
		border-radius: 40px;
		font-size: 40px;
		line-height: 40px;
		margin: 0 20px 30px 0px;
	}
	
	#show_schoolscore div.grade_range {
		margin-right:10px;
	}
	#show_schoolscore div.gs_distance {
		margin-right:0;
	}
	
	#current_subscription {
		display:none;
	}
	#contain_all {
		width:100%;
		padding-left:0;
		padding-right:0;
	}
	
	#add_button, #property_addition {
		margin-left:20px;
	}
	
	#add_property input {
		width:90%;
	}
	
	.one_third, #unassigned_properties, #active_properties, .active_property, .property, .inactive_prop {
		min-width:200px;
	}
	
	/* POPUP SECTION */
	
	#marketing_description_form textarea, .ui-dialog {
		width:100% !important;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	
	.ui-dialog {
		top:0;
		z-index:1000;
		overflow:scroll !important;
		height:100% !important;
	}
	
	.edit_info_addition input, .edit_info_addition textarea, #change_password_form input, #change_email_form input, #change_map_form input {
		width:100%;
	}
	
	.edit_info_addition input.edit_save, #change_password_form input.edit_save, #change_email_form input.edit_save, #change_map_form input[type="submit"] {
		width:auto;
	}
	
	#update_listing_info_form input, #existing_listing_info_form input, #existing_listing_info_form select {
		width:100%;
	}
	
	.select_holder {
		width:100%;
	}
	
	.ui-dialog-titlebar-close {
		background:url(../images/close.png) no-repeat;
		width:20px;
		height:20px;
		display:block;
		float:right;
	}
	
	.ui-dialog-titlebar-close .ui-button-text {
		display:none;
	}
	
	/* BUILDINGS SECTION */
	
	#buildings {
		padding:0px 20px;
	}
	
	/* MEDIA SECTION */
	
	#media_holder {
		padding:0 15px;
	}
	
	#media_sortable {
		width:100%;
	}
	