@charset "UTF-8";
/* CSS Document */

/* COLORS 

BLUE #00AEC7

DARK GREY #2a353c

LIGHT GREY #e1e0dd

RED #ef4036

GREEN #38b449

*/

/* SETUP */

* {
	box-sizing:border-box;
}

body {
	margin:0;
	padding:0;
	font-family:Helvetica, Arial, sans-serif; 
	/* font-family: 'Josefin Sans', sans-serif; */
}

::selection {
	background: #2a353c;
	color:#00AEC7;
}
::-moz-selection {
	background: #2a353c;
	color:#00AEC7;
}

#contain_all {
	width:100%;
	max-width:1200px;
	margin:auto;
	text-align:center;
	position:relative;
	padding:20px;
}

#content {
	text-align:left;
	clear:both;
	padding-top:20px;
}

ul {
	list-style:none;
}

.clear {
	clear:both;
}

.clearFix {
	position:relative;
}

a, a img {
	text-decoration:none;
}

a {
	color:#00AEC7;
}

.placeholder { color: #aaa; }

/* HEADER */

header#branding {
	text-align:left;
	max-width:1200px;
}

#header_logo {
	width:75px;
	height:auto;
	float:left;
}

#admin_nav {
	text-align:left;
	padding:0px 0px;
	background-color:#2a353c;
}

#admin_nav_holder {
	margin:auto;
	max-width:1200px;
}

#mobile_nav_holder {
	display:inline;
}

#admin_nav ul {
	list-style:none;
	float:left;
	padding:0;
	margin:0;
	margin-bottom:-4px;
}

#admin_nav ul li {
	display:inline;
	margin:-10px 0px;
	padding:0px;
}
#admin_nav ul li:hover {
	border-color:#fff;
}

#admin_nav ul li:hover a, #admin_nav ul li:hover p {
	border-top: 3px solid #00AEC7;
	color:#FFF;
}

#admin_nav ul li.mobile_link {
	display:none;
}

#admin_nav ul li a.branding_link {
	border-top: 3px solid #2a353c;
	color:#FFF;
}

#admin_nav ul li a.branding_link img {
	height:25px;
	width:auto;
	margin-top:-15px;
	margin-bottom:-5px;
}

#admin_nav ul li.orders_waiting:hover a, #admin_nav ul li.orders_waiting:hover p {
	border-top: 3px solid #fff;
	color:#FFF;
}

#admin_nav ul li a, #admin_nav ul li p {
	display:inline;
	border-top: 3px solid #2a353c;
	color:#fff;
	padding:15px 20px;
	line-height:55px;
}

#admin_nav ul li.current_page p {
	color:#FFF;
	border-top: 3px solid #00AEC7;
}

#admin_nav ul li.orders_waiting, #admin_nav ul li.orders_waiting a, #admin_nav ul li.orders_waiting:hover a {
	color:#FFF;
	background:#ef4036;
	border-top: 3px solid #ef4036;
}



.loading_gif {
	height:20px;
	width:auto;
}


#pseudo_error {
	text-align: center;
    padding: 20px;
    background: #ef4036;
    color: #fff;
    clear: both;
    display: inline-block;
    width: 100%;
    height: 60px;
}

/* REGISTER / LOGIN */

.access {
	width:100%;
	max-width:302px;
	margin:auto;
	margin-bottom:20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#form_right {
	background-color:#00AEC7;
	padding:20px;
	box-sizing:border-box;
	width:342px;
}


/* PANEL SECTION */


#add_property, #error {
	display:none;
}

#unassigned_properties {
	background:#efebe3;
	min-height:350px;
	border-left:2px solid #e1e0dd;
	padding:0;
}

#unassigned_properties h3, #available_beacons h3, #listing_info h3, #share_url h3 {
	background:#e1e0dd;
}

#unassigned_properties h3, #available_beacons h3, #listing_info h3, #share_url h3 {
	margin:0;
	padding:10px 20px;
}

#co_agent_form {
	width:325px;
	margin-left:20px;
	display:none;
}

#update_co_agent_info_form_holder {
	display:none; 
}

.wizard > .content > .body input#save_co_agent_info_form, .wizard > .content > .body input#add_existing_co_agent, .wizard > .content > .body input#add_co_agent {
	background:#00AEC7;
	border:1px solid #00AEC7;
	color:#fff;
}

.property_tabs > .steps a {
	background:#99dfe9;
	color:#fff;
}

#cancel_co_agent_info_form, #cancel_add_co_agent {
	padding:10px;
	background:#ef4036;
	border:1px solid #ef4036;
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left:10px;
}

#big_ole_activation_button, #big_ole_activation_warning, #lift_off {
	color:#38b449;
	border:2px solid #38b449;
	font-size:2.5em;
	letter-spacing:.1em;
	text-align:center;
	margin:20px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:20px 45px;
	cursor:pointer;
	display:inline-block;
	font-weight:100;
}

#lift_off {
	color:#00AEC7;
	border:2px solid #00AEC7	
}

#big_ole_activation_warning {
	border:2px solid #ef4036;
	color:#ef4036;
	font-size:1.5em;
	letter-spacing:0;
}

#big_ole_activation_warning a, #big_ole_activation_warning a:hover, #big_ole_activation_warning a:active, #big_ole_activation_warning a:visited {
	color:#00AEC7;
}

#social_share_links {
	list-style:none;
	padding:0;
}

#social_share_links li {
	display:inline;
	padding-right:20px;
}

#share_url p {
	margin:10px 20px;
}

#listing_hide_show {
	cursor:pointer;
}

#listing_hide_show div, #schools_hide_show div.icon-rightarrow, #schools_hide_show div.icon-downarrow, #details div.icon-rightarrow, #details div.icon-downarrow {
	width:10px;
	height:10px;
	overflow:hidden;
	display:inline-block;
	margin-top:-4px;
}

#schools_hide_show div.icon-rightarrow, #schools_hide_show div.icon-downarrow {
	margin-bottom:0px;
}

#schools_hide_show {
	cursor:pointer;
}

.icon-rightarrow, .icon-downarrow {
	background-image:URL(../images/hide_show.png);
	background-repeat:no-repeat;
}

.icon-rightarrow {
	background-position:right;	
}
.icon-downarrow {
	background-position:left;
}

#unassigned_properties > div {
	margin:10px 20px;
}

#unassigned_properties p {
	margin:10px 0px 0px 0px;
}


.one_third {
	width:30%;
	padding:0px 1.5%;
	float:left;
    margin-top: 12px;
}

.one_third:first-child {
	margin-right:20px;
}


#active_properties {
	min-height:350px;
	background:#00AEC7;
	padding:15px;
}

#available_beacons, #share_url {
	padding:0;
	background:#fef9ef;
	max-width:200px;
	border-left:2px solid #e1e0dd;
}

#share_url {
	padding-bottom:20px;
}

#available_beacons {
	min-height:350px;
}

.beacon_title_holder {
	color:#00AEC7;
}

.property_info_link_holder {
	border-top:1px solid #CCC;
}

.link_beacon_automatic_notification {
	color:#ef4036;
}

.property_information_link_form {
	display:none;
}

#listing_info {
	padding:0;
	background:#fef9ef;
	width:100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#listing_info h3 {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
}

#listing_info .listing_info_holder {
	margin:0px 20px;
	padding-bottom:10px;
}

.one_half #available_beacons, .one_half #share_url{
	width:310px;
	max-width:310px;
}

#active_properties a {
	color:#333;	
}

#unassigned_properties a:hover, #unassigned_propertiess a:active {
	text-decoration:underline;	
}


#active_properties a:hover, #active_properties a:active {
	color:#00AEC7;
	text-decoration:underline;	
}


#unassigned_properties.drop_here{
	background:#99daa1 !important;
}

#active_properties.drop_here, .property_info_avail.drop_here {
	background:#38b449 !important;
}

.top_level_available { 
 	padding:10px 20px;
	margin-left:-20px;
	-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}


.one_half {
	width:45%;
	margin:1.5%;
	float:left;
}

.drop_here {
	background-color:#FFF !important;
}

#sortable .drop_here , #sortable_props .drop_here {
	background:#00AEC7 !important;
}

.location_beacon.drop_here {
	background:#00AEC7 !important;
}


#unassigned_properties .drop_here a {
	color:#38b449;
}

#active_inactive {
	width:100%;
	text-align:center;
}

/* #active_inactive div, #account_active_inactive div {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
	cursor:pointer;
	text-align:center;
	display:inline-block;
}*/ 

.delete_property_button {
	margin-left:25px;	
}

#leads_flag {
	padding:10px 20px;
	background:#ef4036;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display:inline-block;
	width:auto;
	float:right;
	margin-right:40px;
	color:#ffffff;
}

#leads_flag a, #leads_flag a:hover, #leads_flag a:active, #leads_flag a:visited {
	color:#ffffff;
}

.lead {
	display:table-row;
}
.lead div {
	display:table-cell;
	padding:10px 20px 10px 20px;
	border-bottom:1px solid #eee;
}

#leads_holder .lead:nth-child(odd) {
	background-color:#eee;
}

#leads_holder .lead:nth-child(1) {
	background-color:#ffffff;
	font-weight:bold;
}

#leads_holder .lead:nth-child(1) div {
	border-left:0;
	border-right:0;
	padding-left:10px;
}

.lead_message {
	max-width:300px;
}

/* .delete_property_button {
	background:#ef4036; 
	padding:10px;
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#active_properties a.delete_property_button, 
#active_properties a.delete_property_button:visited, 
#active_properties a.delete_property_button:hover, 
#active_properties a.delete_property_button:active, 

#unassigned_properties a.delete_property_button, 
#unassigned_properties a.delete_property_button:visited, 
#unassigned_properties a.delete_property_button:hover, 
#unassigned_properties a.delete_property_button:active {
	color:#fff;
	display: inline-block;
	clear:both;
}

#active_properties a.delete_property_button:hover, 
#active_properties a.delete_property_button:active, 

#unassigned_properties a.delete_property_button:hover, 
#unassigned_properties a.delete_property_button:active {
	text-decoration:none;
	color:#000;
} */

#customer_info div#account_active_inactive div, #customer_info div#account_active_inactive div {
	padding-left:0px;
	cursor:pointer;
	display:inline-block;
}


#customer_info div#account_active_inactive div#activate {
	padding:10px;
}

#customer_info h4 {
	margin-bottom:0;
}

.account_inactive, .account_active {
	background:#ef4036;
	padding:20px 0px;
	color:#FFF;
	font-weight:bold;
	font-size:18px;
}

.account_active {
	background:#38b449;
}

.account_inactive div#activate {
	display:inline-block;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1.4px;
	color:#fff;
	border:2px solid #fff;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
	cursor:pointer;
	text-align:center;
	display:inline-block;
}

#account_active_inactive {
	width:300px;
	color:#00AEC7;
}

#account_active_inactive div {
	color:#8c99a6;
	padding:0;
}

#account_active_inactive div#activate {
	background: #00AEC7;
	color:#fff;
	border:2px solid #fff;
	padding:10px;
}

.subscription_table {
	margin:0;
	display:inline-block;
	width:auto;
	padding:0;
}

.subscription_table li {
	display:inline-block;
	width:175px;
	padding:10px;
	text-align:center;
	margin:0;
}

.plan_alias {
	margin-top:-20px;
	padding:5px;
	background-color:#2a353c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.subscription_table li.header_subscription {
	background-color:#00AEC7; 
	border-right:1px solid #fff;
	color:#fff;
}

.subscription_table li.property_management_subscription {
	background-color:#00d1ef; 
	border-right:1px solid #fff;
	color:#fff;
}

.subscription_table li.property_management_subscription h3, .subscription_table li.header_subscription h3 {
	color:#2a353c;
	font-weight:normal;
	font-size:16px;
	margin-bottom:0;
}

.subscription_table li.property_management_subscription h1, .subscription_table li.header_subscription h1 {
	font-weight:100;
	font-size:48px;
	margin:0;
}

.feature_line_subscription {
	min-height:75px;
	background-color:#ecebeb;
}

.feature_line_subscription li {
	border-right:1px solid #fff;
	display:inline-block;
	height:auto;
}

.feature_line_subscription li.feature_subscription.subscription_callout { 
	background-color:#ef4036;
	color:#fff;
}

.feature_line_subscription li.feature_subscription { 
	background-color:#ccc;
	color:#2a353c;
}

.feature_line_subscription {
	border-bottom:1px solid #999;
}

.choose_subscription_section li {
	padding-top:0;
}

.subscription_table .select_sub, .subscription_table .current_sub {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.subscription_table .current_sub {
	background-color:#ccc;
	color:#fff;
	cursor:default;
}

.subscription_table .select_sub:hover {
	background-color:#00AEC7;
}

#current_subscription {
	float:right;
	width:220px;
	color:#eee;
	border-left: 1px solid #eee;
	margin-top:5px;
	padding-left:20px;
}
#current_subscription {
	font-size:12px;
}

#previous_subscription {
	width:300px;
	color:#8c99a6;
	padding-top:5px;
	font-size:12px;
}

#current_subscription h4 {
	margin:0;
	font-size:18px;
	font-weight:normal;
}

#add_button{
	display:inline-block;
	clear:both;
	background:#00AEC7;
	padding:10px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#FFF;
	cursor:pointer;
}

#add_property input {
	border:1px solid #00AEC7;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	clear:both;
	width:300px;
}

.add_property_icon {
	display:none;
}

#add_property input[type=submit] {
	clear:both;
	width:auto;
}

input[type=submit] {
	cursor:pointer;
}

.property, .inactive_prop, .active_property, .building {
	margin:10px 0px;
	border:1px solid #00AEC7;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#00AEC7;
}

#unassigned_properties .unassigned p {
	display:inline;
}

.active_property  {
	background:#fff;
	color:#00AEC7;
	cursor:move;
}

.property a, .inactive_prop a, .assigned a {
	color:#fff;
	display:inline-block;
}

.inactive_prop {
	cursor:move;
}

.unassigned {
	cursor:no-drop;
	background:#eee;
	color:#8c99a6;
	border:1px solid #8c99a6;
}
.unassigned a {
	color:#8c99a6;
}

#error, #property_listing_error {
	display:none;
	background:#ef4036;
	padding:10px 20px;
	float:left;
	clear:left;
	width:auto;
	color:#FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:20px;
	position:absolute;
	z-index:1000;
}

#error.success {
	background-color:#38b449 !important;
}

#property_listing_error {
	display:inline-block;
	float:none;
	position:static;
}

#error a {
	color:#FFF;
	text-decoration:underline;
}

.beacon, .available_beacon, .active_beacon, .beacons-available_beacon {
	color:#fff;
	background:URL(../images/beacon_back.png) no-repeat;
	width:40px;
	height:40px;
	text-align:center;
	padding-top:12px;
	margin:10px;
	cursor:move;
	float:left;
}

.beacons-available_beacon {
	cursor:pointer;
}

.active_beacon {
	color:#ccc;
	background:URL(../images/active_beacon_back.png) no-repeat;
	cursor:pointer;
}

.beacon_prop {
	width:150px;
	float:left;
	padding:10px 0px;
	color:#333;
}
.beacon_prop span {
	color:#38b449;
}

.active_property .beacon_prop, .active_property .beacon_prop::first-line {
	color:#8c99a6;
}

.hide_edit_map {
	display:none;
}

/* BEACONS PAGE */

.beacons_wrapper {
	margin-bottom:10px;
}

.beacon-assign-info {
	margin-left:20px;
	float:left;
}

.beacon_info_holder {
	width:100%;
	max-width:500px;
	border-bottom:1px solid #8c99a6;
	margin-bottom:20px;
	margin-top:0;
	display:none;
	clear:both;
	padding:20px;
}


.beacon-temp {
	position:relative;
	width:100%;
	max-width:500px;
	height:100px;
}

.beacon-hide  {
	display:none;
}

.beacon_info_holder .loading_gif {
	margin:-10px 0px 0px -10px;
	position:absolute;
	left:50%;
	top:50%;
}


.beacon-info-title {
	padding:5px 20px 5px 0px;
	width:125px;
	float:left;
	color:#00AEC7;
}

.beacon-info-value {
	width:325px;
	padding:5px 0px;
	color:#333;
	float:left;
}

.beacon_info_line {
	clear:both;
	border-bottom:1px #333 dotted;
}

/* MY ACCOUNT */

#billing_form, #shipping_form, #edit_ship, #edit_bill, #edit_ship_button p:first-child, #edit_bill_button p:first-child {
	display:none;	
}

.edit_ship_key, .edit_bill_key {
	display:block;
	float:left;
	clear:left;
	background:#00AEC7;
	padding:10px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#FFF;
	cursor:pointer;
}

#change_password, #change_subscription, #change_email  {
	color:#00AEC7;
}


#edit_ship, #update_ship_form, #edit_bill, #update_bill_form {
	clear:both;
	width:100%;
	min-width:300px;
}

input, textarea, .edit_info_addition input, .edit_info_addition textarea, #update_ship_form input, #update_bill_form input, #update_ship_form select, #update_bill_form select, select {
	border:1px solid #00AEC7;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	clear:both;
	width:300px;
}

.select_holder {
	background:url(../images/drop-down.png) no-repeat 90% 50%;
}

.edit_info_addition input, .edit_info_addition textarea, #change_password_form input, #change_email_form input, #change_map_form input {
	width:200px;
}

#change_email_form input, #change_password_form input {
	width:100%;
}

.edit_info_addition textarea {
	height:100px;
}

.edit_info_button, .edit_info_child_button, .add_child_info_show, .delete_info_button, .add_info_show {
	background:#00AEC7;
	color:#fff;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.add_info_show {
	display:inline-block;
	width:auto;
	background:#39b54a;
}

.add_child_info_show {
	background:#39b54a;
}

.delete_info_button {
	background:#ef4036;
}

#update_ship_form select, #update_bill_form select, select {
	background: transparent;
	line-height: 1;
	height: 34px;
	-webkit-appearance: none;
	width:322px;
}

input[type=submit], #update_ship_form input[type=submit], #update_bill_form input[type=submit], input[type=checkbox] {
	clear:both;
	width:auto;
}

#marketing_description_form {
	width:100%;
}

#marketing_description_form textarea {
	width:415px;
	height:250px;
	margin-bottom:20px;
}

#show_bill, #show_ship {
	color:#00AEC7;
	font-style:italic;
}

.card_info, #customer_info, #account_listing_info_holder, #order_beacons, #payment_wrapper, #submit_order_checkout, #order_beacons_wrapper {
	display:block;
	float:left;
	width:200px;
	border:1px solid #00AEC7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:20px;
	color:#333;
	margin-right:20px;
}

#submit_order_checkout {
	padding:10px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	background:#00AEC7;
	display:block;
	float:none;
}

#payment_wrapper, #order_beacons_wrapper {
	border:0;
}

#order_beacons_wrapper {
	padding-top:35px;	
}

#view_cart_message {
	width:280px;
	margin-right:20px;
	min-height:2px;
}

.cart_quantity {
	background-color: #00AEC7;
	padding:10px;
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#quantity_warning {
	width:100%;
	padding:20px;
	min-height:50px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	background-color:#ef4036;
	display:none;
	text-align:center;
}

.co_agent {
	border-bottom:1px solid #00AEC7;
}

.co_agent h4 {
	margin-bottom:0px;
}

.co_agent p {
	margin-top:5px;
}

#customer_info, #account_listing_info_holder {
	width:400px;
}

.card_info div , #customer_info div, #account_listing_info div, #order_beacons div {
	padding:10px;
}
.card_info div.card_title, #customer_info .customer_name, .listing_title, .listing_title_error, #order_beacons .order_beacons_title {
	background:#00AEC7;
	padding:10px 0px;
	width:100%;
	text-align:center;
	color:#fff;
	font:bold;
}

#order_beacons .select_holder {
	padding:0;
	margin:10px;
}

#order_beacons .select_holder select {
	width:100%;
}

.listing_title_error {
	background:#ef4036;
}

.listing_error {
	color:#ef4036;
}

#edit_card, .select_sub, .current_sub, .edit_listing_info, #order_beacons_submit, #add_to_cart, #update_cart {
	padding:10px 20px;
	background:#8c99a6;
	color:#fff;
	border:0;
	margin:auto;
	width:100%;
	cursor:pointer;
}


.listing_error.edit_listing_info {
	color:#ef4036;
	background-color:transparent;
	cursor:pointer;
}

#update_cart {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#view_cart_holder {
	width:300px;
	float:left;
	border-right:1px solid #2a353c;
}

#view_cart_holder form, #view_cart_holder input, #view_cart_holder select {
	max-width:280px;
}

.cart_price {
	border-bottom:1px solid #CCC;
	margin-bottom:20px;
	padding-bottom:10px;
	text-align:right;
}

.cart_tax, .cart_total, .cart_sub_total, .cart_shipping {
	text-align:right;
	padding:5px 0px;
	border-top:1px dashed #CCC;
}

.cart_sub_total {
	border:0;
}

.cart_number {
	display:inline-block;
	width:100px;
}

.cart_total {
	font-weight:bold;
}

#checkout_holder {
	width:400px;
	float:left;
	margin-left:20px;
}

#view_cart {
	background:#ef4036;
	padding:10px 20px;
	color:#fff;
	float:left;
	margin-bottom:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
	width:100%;
	text-align:center;
}

#order_beacons_submit {
	margin:0;
}

.select_sub {
	background:#38b449;
}

/* PROPERTY PAGE */

h2, .create_property_headline {
	color:#00AEC7;
	font-weight:100;
	font-size:36px;
	margin-top:0;
	margin-bottom:5px;
}

h3, .create_property_subhead {
	color:#2a353c;
	font-weight:100;
	font-size:24px;
	margin-top:0;
	margin-bottom:5px;
}

#add_info, .add_child_info_form, .edit_info_form, .edit_info_title, .edit_info_box, .edit_notes_box, .edit_save, .edit_cancel {
	display:none;
}

.wizard > .content > .body input.save {
	background:#39b54a;
	border:1px solid #39b54a;
	color:#FFF;
	margin-right:10px;
}

.wizard > .content > .body input.edit_save, .edit_save {
	background:#00AEC7;
	border:1px solid #00AEC7;
	color:#FFF;
	margin-right:10px;
}

.wizard > .content > .body input.edit_cancel, .edit_cancel {
	background:#ef4036;
	border:1px solid  #ef4036;
	color:#fff;
	width:auto;
}

.edit_info_title, .edit_info_box, .edit_notes_box {
	margin-bottom:10px;
}
.edit_notes_box {
	margin-top:10px;
}

.activate_property_form {
	padding:10px 20px;
	background:#e1e0dd;
	cursor:pointer;
	display:inline-block;
}

.activate_property_form input {
	display:none;
}

.form_checked {
	background:#00AEC7;
}


#info_addition input, #info_addition textarea {
	width:250px;
}

#info_addition input[type="checkbox"] {
	width:auto;
}

#info_addition input#save {
	width:auto;
	background: #39b54a;
	color:#fff;
}

#info_addition textarea {
	height:150px;
}

.child_container {
	margin-left:20px;
}

.property_title, .prop_info_holder h4, .child_container h4 {
	display:inline;
}

.wizard ul.prop_revisions {
	list-style:none;
	margin:0;
	margin-top:10px;
	padding:0;
}

.wizard ul.prop_revisions li {
	display:inline;
	padding-top:10px;
	margin-right:10px;
}

h3.property_title {
	font-size:20px;
}

#flyer_holder, #flyer_form_holder {
	margin-bottom:20px;
}

#flyer_holder h4, #flyer_form_holder h4 {
	margin-bottom:5px;
}

#pdf_icon {
	margin-right:10px;
}

.hidden {
	display:none;
}

.hidden_message, .hidden_loader {
	display:none;
}

.hide_flyer {
	display:none;	
}

label {
	clear:both;
	display:block;
	margin:10px 0px 0px 0px;
	padding:0px;
}

#lat_long {
	clear:both;
	width:100%;
}

#prop_map {
	width:100%;
}


#lat, #long {
	display:inline-block; 
	float:left;
}

#no_address_found {
	clear:both;
	display:none; 
}

#remove_address_from_property {
	background:#ef4036;
	padding:10px;
	color:#fff;
	cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display:inline-block;
	width:auto;
	clear:both;
	margin-top:10px;
	border:0 !important;
}

.lat_long_click_arrow {
	display:inline-block;
	margin-left:15px;
}

#click_map_holder {
	float:right;
	width:350px;
}

#no_address_found input {
	margin-bottom:5px;
}

#process_no_address_found {
	background:#00AEC7 !important;
	color:#fff;
}

#no_address_found h1 {
	color:#00AEC7;
	margin-bottom:0;
}

#no_address_found p {
	margin-top:0;
}

.form_error {
	border: 1px solid #ef4036 !important;
}

#get_address, #get_lat_long {
	display:inline;
}

#get_lat_long {
	border-radius: 0px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottom-right: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left:0;
}

#get_address{
	float:left;
	border-radius: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottom-left: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;	
}

#get_address_loader {
	margin: 8px 10px;
}

.steps_clear {
	clear:both;
	position:relative;
}

#property-map, #map_for_latitude_longitude {
	width:100%;
	height:350px;
}

.prop_container_main iframe {
	pointer-events: none;
}

.property_info {
	border:1px solid #8c99a6;
	margin-bottom:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#fef9ef;
}

.prop_info_holder, .child_container, .add_child_info {
	padding:10px 20px;
}
.child_container { 
	margin:0px 20px 20px 20px;
}

#remove_all {
	font-size:16px;
	font-weight:normal;
	display:inline-block;
	color:#fff;
	background:#ef4036;
	padding:10px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.child_container {
	background:#efebe3;
}

#select_subscription_alt a {
	color:#ef4036;
}

#select_subscription a {
	color:#fff;
	border:1px solid #fff;
	padding:10px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.prop_container_main {
	margin:20px 0px;
}

.notes, .property_info_notes {
	border-top:1px solid #CCC;
	color:#333;
}

.notes p, .property_info_notes p {
	margin:0px;
}

.notes p:first-child, .property_info_notes p:first-child {
	margin:20px 0px 5px 0px;
	font-weight:bold;
}

.notes_instr {
	font-weight:normal;
	font-size:11px;
}

#property_status_form ul {
	margin:0;
	padding:0;
}

#property_status_form ul li {
	display:inline;
	padding:10px;
	background:#e1e0dd;
}

#property_status_form ul li.status_click {
	cursor:pointer;
}

#property_status_form ul li input#custom_message_input {
	display:inline-block; 
	background-color:#fff;
	visibility:visible;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding:5px;
}

#add_custom_message_button {
	position:relative;
	top:5px;
	left:5px;
	cursor:pointer;
}

#property_status_form ul li.form_checked {
	background:#00AEC7;
}

#property_status_form input {
	width:auto;
	margin-right:0px;
	visibility:hidden;
	display:none;
}

#marketing_description {
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	margin-bottom:20px;
	margin-top:20px;
}

#marketing_description_text_box {
	width:600px;
	height:300px;
}

.active_beacons {
	clear:both;
	margin-top:20px;
}

#details {
	cursor:pointer;
}

#get_lat_long_button {
	display:none;
}

#property_details h4 {
	margin-bottom:10px;
	margin-top:0;
}

#property_details td {
	padding:5px 40px 5px 0px;
}

.hidden_score {
	display:none;
}

#show_schoolscore, #show_walkscore {
	margin:20px 0px;
}

#show_schoolscore div, #show_walkscore div {
	margin:10px 0px;
}
.walker-paradise, .walkers-paradise, .very-walkable, .somewhat-walkable, .car-dependent {
	padding:20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.walker-paradise, .walkers-paradise {
	background:#00AEC7;
	padding:20px;
}
.very-walkable {
	background:#38b449;
}
.somewhat-walkable {
	background:#FF3;
}
.car-dependent {
	background:#F90;
}

#property_beacons {
	margin-top:0px;
	padding:0px 0px 20px;
	left:48.1%;
}

.location_beacon {
	min-height:60px;
}

.school {
	margin:10px 0px;
	background-color:#e1e0dd;
	padding:10px 20px;
	box-sizing:border-box;
	cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.school.selected {
	background-color:#00AEC7;
}
.school.selected h4, .school.selected a {
	background-color:#00AEC7;
	color:#FFF;
}

#show_schoolscore div.gs_rating, div.gs_rating {
	width:100px;
	height:100px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	text-align:center;
	font-size:50px;
	line-height:50px;
	margin:0 20px 0px 0px;
	padding:0;
	box-sizing:border-box;
	padding-top:15px;
	overflow:hidden;
	float:left;
}

#show_schoolscore div.out_of, div.out_of {
	font-size:10px;
	line-height:10px;
	margin:0;
	padding:0;
}

#show_schoolscore div.gs_name, #show_schoolscore div.gs_name h4, div.gs_name, div.gs_name h4 {
	font-size:22px;
	line-height:22px;
	font-weight:100;
	margin-bottom:0px;
}

.gs_info {
	display:inline-block;
}
#show_schoolscore div.grade_range, #show_schoolscore div.gs_distance, div.grade_range, div.gs_distance {
	float:left;
	margin-right:20px;
	color:#333;
}

.rating_10, .rating_9, .rating_8 {
	background:#38b449;
}
.rating_7 {
	background:#FF3;
}
.rating_6, .rating_5 {
	background:#FF3;
}
.rating_4, .rating_3, .rating_2, .rating_1, .rating_0 {
	background:#ef4036;
}

/* MULTI FAMILY */

.available_property_building {
	cursor:move;
	padding:10px 20px;
	width:100%;
	background:#00AEC7;
	color:#fff;
	margin:10px 0px;
	box-sizing:border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	max-width:281px;
}

.attached_properties, #available_building_properties {
	min-height:200px;
	background-color:#a2d6f4;
	padding-top:20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:45%;
	float:left;
}

#available_building_properties {
	margin-left:5%;
	padding:0px 20px 20px 20px;
	background:#fef9ef;
}

.attached_properties h3 {
	margin:0px 0px 0px 20px;
}

.attached_properties.drop_here {
	background-color:#00AEC7 !important;
}

.attached_properties ul#sortable_props {
	padding:10px 0px;
}

.attached_properties ul#sortable_props li.attched_prop {
	margin:10px 20px;
	color:#333;
	background:#eee;
	border:1px solid #333;
	padding:20px 10px;
	box-sizing:border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.detach_property_image, .remove_beacon_image, .delete_button {
	margin:0 0px -4px 10px
}

#add_building_beacon_button {
	display:none;
}

/* MEDIA */

.edit_media {
	clear:both;
	padding-top:15px;
}

#upload_image_360_holder {
	display:none;
}

.Image360Thumb {
	width:200px;
	height:auto;
}


/* SUBSCRIPTION */

.subscription_levels {
	width:20%;
	margin:20px 2%;
	float:left;
	border:1px solid #8c99a6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#fef9ef;
}

.sub_headline {
	padding:10px 0px;
	width:100%;
	text-align:center;
}

.current_sub{
	background:#38b449;
	text-align:center;
	color:#fff;
}

.active_current {
	padding:10px 0px;
	width:100%;
}

.current_subscription {
	background:#e1e0dd;
	color:#8c99a6;
}

.current_subscription .sub_headline {
	background:#8c99a6;
}
.current_subscription .sub_headline h4 {
	color:#ccc;
}
.sub_info {
	padding:0px 20px 10px 20px;
	text-align:center;
}

.sub_info a {
	color:#38b449;
}

.sub_info a:hover, .sub_info a:active {
	color:#00AEC7;
}

.sub_info form {
	margin:0;
}

.sub_headline {
	background:#00AEC7;
}

.sub_headline h4 {
	color:#fff;
	margin:0;
}

.choose {
	background:#38b449;
	padding:10px 0px;
	width:100%;
	text-align:center;
	color:#fff;
	cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.add_billing_error {
	padding:20px;
	color:#00AEC7;
}

.add_billing_error a { 
	color:#ef4036;
	text-decoration:underline;
}

.subscription_levels form {
	text-align:center;
}

#sortable, .child_sort, #sortable_props {
	padding:0;
	list-style:none;
}

.child_sort {
	margin-top:20px;
}

#sortable .sort_highlight, #sortable .child_sort .sort_highlight, #sortable_props .sort_highlight, #sortable_props .child_sort .sort_highlight {
	background:#99daa1;
	width:auto;
	margin:10px 0px 10px 0px;
	height:40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#sortable .child_sort .sort_highlight, #sortable_props .child_sort .sort_highlight {
	margin:10px 0px 10px 20px;
}

.beacon_assigned {
	margin:20px 0px;
	color:#00AEC7;
}

/* USERS PAGE */

#filterList {
	position:relative;
	background-color:#fff;
	display:inline-block;
	width:350px;
}

#filterLabel::before {
	content:"Filter: ";
	color:#00AEC7;
}

#filterLabel::after {
	content:"";
	width:12px;
	height:12px;
	display:inline-block;
	background:url(/images/arrow.png) no-repeat;
	background-size:100% 100%;
	margin-left:5px;
}

#filterList ul {
	display:none;
	position:absolute;
	border-top:0;
	margin:0;
	padding:10px 0px;
	top:15px;
	left:-10px;
}

#filterList ul li {
	position:relative;
	padding:5px 10px;
	background:#2a353c;
}

#filterList ul li:hover {
	background:#e1e0dd;
	cursor:pointer;
}

#filterList ul li:hover a {
	color:#00AEC7;
}

#filterList ul li a {
	color:#fff;
}

#filterList:hover ul, #filterList ul:hover {
	display:block;
}


.users_table {
	margin:0; 
	padding:0;
	padding-bottom:10px;
	display:table-row;
}

.users_table li {
	padding:5px;
	display:table-cell;
}

/* DIALOGUE */

#dialog {
	max-height:400px !important;
	overflow:auto;
}

.ui-widget-overlay, .ui-front {
	position:fixed;
	width:100%;
	height:100%;
	z-index:100;
	background:url(../images/fade-70.png) repeat;
	top:0;
	left:0;
}

.ui-dialog {
	background:#FFF;
	border:1px solid #00AEC7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.ui-dialog-titlebar {
	background-color:#00AEC7;
	color:#FFF;
	text-align:center;
	padding:10px;
}

.ui-dialog-titlebar-close {
	display:none;
}

.ui-dialog-content {
	padding:10px 30px;
}

.ui-dialog-buttonpane {
	text-align:center;
	padding:10px;
}

.ui-button {
	background-color:#ef4036;
	border:1px solid #eeeeee;
	color:#FFF;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#dialog input[type=submit] {
	background:#38b449;
	color:#fff;
}

#update_listing_info_form_submit {
  width: 100%;
}

.ui-dialog-buttonpane {
	background:#eeeeee;
	border-top:1px solid #333;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.ui-button:first-child {
	margin-right:20px;
}


.ui-button:focus, input:focus{
    outline: 0;
}

.ui-tooltip {
	background-color:#00AEC7;
	border:1px solid #00adef;
	color:#FFF;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display:inline-block;
	max-width:150px;
}

.ui-tooltip-content {
	color:#FFF;
}

.add_child_info_show, .add_info_show {
	cursor:pointer;
}

#add_info_cancel, .add_info_cancel {
	border:0;
	font-size:16px;
	font-weight:normal;
	display:inline-block;
	color:#fff;
	background:#ef4036;
	padding:10px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#login, #forgot_password, #form_right, #log_register {
	background-color:#00AEC7;
	padding:10px 20px;
	width:342px;
	margin:auto;
	text-align:center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-sizing:border-box;
}

#log_register {
	background-color:#fff;
}


#login h3, #forgot_password h3, #forgot_password h1, #forgot_password p, #forgot_password a {
	color:#fff;
}

#forgot_password a {
	text-decoration:underline;
}

#forgot_password p {
	text-align:left;
}

.login_text {
	width:342px;
	margin:20px 0px;
	margin-left:auto;
	margin-right:auto;
	padding:10px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-sizing:border-box;
}
	
div.error {
	background:#ef4036;
	color:#fff;
	padding:20px;
}

.error a {
	color:#fff;
	text-decoration:underline;
}

#email_response, #email_response_text {
	width:98%;
	height:300px;
}
#email_response_holder, #email_response_short_codes {
	float:left;
}

#email_response_holder {
	width:70%;
}

#email_response_short_codes {
	width:20%;
	margin-left:5%;
	font-size:14px;
}

#email_response_short_codes h4 {
	margin-bottom:0;
}

#email_response_short_codes .gray {
	color:#8c99a6;
}

.active_success {
	width:342px;
	box-sizing:border-box;
	margin:auto;
	text-align:center;
	margin-bottom:20px;
}

/* REGISTER FORM */

#register_form {
	width:300px;
}

.jquery_form_help_pass_confirmation, .form-error, .strength-meter {
	display:block;
	width:300px;
}

#bumper {
	margin:auto;
	text-align:center;
}

#bumper #branding {
	text-align:center;
	margin:auto;
	width:342px;
}

#bumper form {
	text-align:left;
}

#bumper form input {
	width:300px;
	max-width:300px;
}

#bumper form input[type=submit] {
	width:auto;
}

#bumper.error {
	padding:10px 20px;
	display:inline-block;
	width:342px;
	margin:auto;
}

/* MEDIA */

#media_sortable_selected, #media_sortable {
	margin:0;
	padding:10px 10px 0px 10px;
	min-height:100px;
	background:#EEE;
	border:1px solid #666;
	width:100%;
	margin-bottom:20px;
}


#media_sortable {
	margin:0;
	width:100%;
}


#media_sortable li, #choose_media_sortable li, #media_sortable_selected li {
	border:1px solid #e1e0dd;
	background: #fef9ef;
	padding:10px;
	cursor:move;
	margin-bottom:10px;
	width:auto;
	display:inline-block;
	position:relative;
}

#media_sortable_selected li {
	background: #99daa1;
}

#media_sortable li.child_media, #choose_media_sortable li.child_media, #media_sortable_selected li.child_media {
	background: #99daa1;
}

#media_sortable li.media_sort_highlight, #choose_media_sortable li.media_sort_highlight, #media_sortable_selected li.media_sort_highlight {
	height:63px;
	margin-bottom:-10px;
	margin-top:0px;
	padding:0;
	width:25px;
	background:#99daa1;
}

#media_sortable_selected li.media_sort_highlight {
	background:#00AEC7;
}

.image_container .sort_image  {
	width:75px;
	height:75px;
}

.image_container .sort_image img {
	width:75px;
	height:75px;
}

.delete_image {
	position:absolute;
	right:0;
	top:0;
	cursor:pointer;
}

button, .add_info_cancel, #add_info_cancel {
	cursor:pointer;
}

.edit_media a {
	color:#00AEC7;
}

#submit_holder {
	display:inline;
}
#submit_holder img {
	width:35px;
	height:auto;
}

p.child_media {
	padding:5px 10px;
	background: #99daa1;
	width:auto;
	display:inline-block;
}

.loader {
	margin:12px 0px -12px 10px;
	display:none;
}

/* TRANSACTION */

table {
	border:0;
	padding:0;
	margin:0;
	border-spacing: 0px;
	border-collapse:collapse;
}

.transactions_header {
	background-color:#333;
}

.transactions_header td {
	font-weight:normal;
	margin:0;
	color:#fff;
	background-color:#333;
	padding: 5px 30px;
	text-align:left;
}

.transactions {
	color:#333;
}

.transactions td {
	padding: 5px 20px;
}

#download_marketing {
	background:#ef4036;
	padding:10px 20px;
	display:inline-block;
	width:auto;
	margin:10px 0px 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#download_marketing a, #download_marketing a:hover, #download_marketing a:active, #download_marketing a:visited {
	color:#ffffff;
}

/* SHOW HINTS */

.full_width {
	width:100%;
}

.full_width .one_third {
	width:33%;
	padding-left:0px;
	padding-right:0px;
	margin-right:20px;
}

.full_width .narrow{
	max-width:200px;
}


/* ORDERS */

#beacon_orders .table_header td {
	font-weight:bold;
	border:0;
}

#beacon_orders td {
	padding:10px 20px;
	border-bottom:1px solid #8c99a6;
}

/* FULFILL ORDERS */

#order_infor_for {
	margin-bottom:10px;
}

#beacon_order_notification {
	font-size:18px;
	color:#00AEC7;
}

#beacons_left {
	display:inline-block;
	margin-left:2px;
	color:#ef4036;
}

#reader {
	float:left;
}

#added_beacon_title {
	margin-top:15px;
	margin-left:25px;
	float:left;
	padding:20px;
	border:1px solid #8c99a6;
	color:#ef4036;
	font-size:40px;
	width:250px;
	height:250px;
	text-align:center;
	padding-top:75px;
}

#beacons_on_this_order {
	float:left;
	margin-top:15px;
	margin-left:25px;
	float:left;
	border:1px solid #8c99a6;
}


#beacons_on_this_order h3 {
	background:#00AEC7;
	color:#FFF;
	padding:20px;
	margin-top:0;
}

#beacons_on_this_order p {
	padding:5px 20px;
}

/* GET STARTED GUIDE */


.helpme {
	display:inline-block;
	background-color:#2a353c;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	width:20px;
	height:20px;
	padding-left:6px;
	color:#fff;
	margin-left:10px;
	cursor:pointer;
}

.get_started_popup {
	text-align:center;
	padding:25px 0px;
}

.get_started_popup .ui-dialog-titlebar {
	display:none;
}

.get_started_popup button {
	padding:20px;
	background:#e1e0dd;
	border:1px solid #2a353c;
	display:block;
	margin:10px auto;
	width:250px;
}

.get_started_guide {
	text-align:center;
	margin:auto;
	padding:20px;
}


/* APP WEBKIT SECTION */

#ios_in_app_form {
	padding:20px;
}

#ios_in_app_form input, #ios_in_app_form textarea {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border:0;
	border-bottom:1px solid #999;
	margin-bottom:5px;
	width:100%;
}
#ios_in_app_form input[type="submit"] {
	width:auto;
}

#ios_in_app_form textarea {
	height:250px;
	border:0;
	margin-top:10px;
}

#load_modal {
	display:none;
	background:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
}

#load_modal_confirm {
	width:100%;
	height:100%;
	position:fixed;
	top:5000px;
	z-index:5000;
	left:0;
	background-color:#00AEC7;
	padding:50px;
}

#load_modal_confirm .message {
	color:#fff;
	text-align:center;
	font-size:24px;
	font-weight:bold;
}

.loader {
	position:absolute;
	top:50%;
	left:50%;
	margin:-50px 0px 0px -50px;
}