@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');

/* CSS Document */

/* COLORS 

BLUE #00AEC7

DARK GREY #2a353c

LIGHT GREY #e1e0dd

RED #ef4036

GREEN #38b449

*/

/* FONTS 

font-family: 'Source Sans Pro', sans-serif;

*/




/* SETUP */

* {
	box-sizing:border-box;
}

body, html {
	width:100%;
	height:100% !important;
}

body {
	margin:0;
	padding:0;
	font-family:'Source Sans Pro', Helvetica, Arial, sans-serif; 
	/* font-family: 'Josefin Sans', sans-serif; */
	color:#2a353c;
}

::selection {
	background: #2a353c;
	color:#00AEC7;
}
::-moz-selection {
	background: #2a353c;
	color:#00AEC7;
}

#contain_all {
	width:100%;
	max-width:1200px;
	margin:auto;
	position:relative;
}

ul {
	list-style:none;
}

h1 {
	font-weight:400;
}

.clear {
	clear:both;
}

.clearFix {
	position:relative;
}

a, a img {
	text-decoration:none;
}

a, a:focus {
	color:#00AEC7;
}

a:hover {
	color:#2a353c;
	text-decoration:none;
}

.no-padding {
	padding:0;
}

.blue {
	color:#00AEC7;
}

.red {
	color:#ef4036;
}

.grey {
	color:#2a353c;
}

.lightGrey {
	color:#e1e0dd;
}
.greyOut {
	background-color:#ccc;
	color:#fff;
}

.green {
	color:#38b449;
}

.hand {
	cursor:pointer;
}

.ui-widget-overlay {
	background:#2a353c;
	opacity:.9;
}

.ui-widget {
	font-family:'Source Sans Pro', Helvetica, Arial, sans-serif; 
}

/* ICONS */

.glyphicon-ok-circle {
	color:#38b449;
}

.glyphicon-remove-circle {
	color:#ef4036;
}


/* END ICONS */

/* HEADER */

header#branding {
	text-align:left;
	max-width:1200px;
}

#header_logo {
	width:75px;
	height:auto;
	float:left;
}

.navbar-default {
	border:0;
	border-radius:0;
}

#admin_nav {
	text-align:left;
	padding:0px 0px;
	background-color:#2a353c;
}

#admin_nav_holder {
	margin:auto;
	max-width:1200px;
}

#mobile_nav_holder {
	display:inline;
}

#admin_nav ul {
	list-style:none;
	float:left;
	padding:0;
	margin:0;
	margin-bottom:-4px;
}

#admin_nav ul li {
	display:inline;
	margin:-10px 0px;
	padding:0px;
}
#admin_nav ul li:hover {
	border-color:#fff;
}

#admin_nav ul li:hover a, #admin_nav ul li:hover p {
	border-top: 3px solid #00AEC7;
	color:#FFF;
}

#admin_nav ul li.mobile_link {
	display:none;
}

#admin_nav ul li a.branding_link {
	border-top: 3px solid #2a353c;
	color:#FFF;
}

#admin_nav ul li a.branding_link img {
	height:25px;
	width:auto;
	margin-bottom:-5px;
}

#admin_nav ul li.orders_waiting:hover a, #admin_nav ul li.orders_waiting:hover p {
	border-top: 3px solid #fff;
	color:#FFF;
}

#admin_nav ul li a, #admin_nav ul li p {
	display:inline;
	border-top: 3px solid #2a353c;
	color:#fff;
	padding:15px 20px;
	line-height:55px;
}

#admin_nav ul li.current_page p {
	color:#FFF;
	border-top: 3px solid #00AEC7;
}

#admin_nav ul li.orders_waiting, #admin_nav ul li.orders_waiting a, #admin_nav ul li.orders_waiting:hover a {
	color:#FFF;
	background:#ef4036;
	border-top: 3px solid #ef4036;
}

#current_subscription {
	color:#e1e0dd;
	padding-top:5px;
}

#current_subscription h4 {
	margin-bottom:0;
}



/* REGISTER / LOGIN */

#login_page, #register_page, #activate_your_acount_page, #forgot_password_page {
	background-image:url(/images/login_background.jpg);
	background-size:cover;
	background-position:center;	
}

.access {
	margin-bottom:20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#form_right {
	background-color:#00AEC7;
	padding:20px;
	box-sizing:border-box;
	width:342px;
}

input, textarea, .form-control, .styledCheckbox {
	margin-top:15px !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #2a353c;
	padding:15px;
	height:auto;
}

.styledCheckbox {
	border:0;
	background-color:transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid #2a353c;
	-webkit-text-fill-color: #00AEC7;
	transition: background-color 5000s ease-in-out 0s;
	color:#fff !important;
}

.submit, .submit:visited {
	margin-top:15px;
	padding:15px 30px;;
	background: rgba(0,172,199,1);/* Old Browsers */
	background: -moz-linear-gradient(45deg, rgba(0,172,199,1) 0%, rgba(101,215,230,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,172,199,1)), color-stop(100%, rgba(101,215,230,1)));/* Chrome, Safari4+ */
	background: -webkit-linear-gradient(45deg, rgba(0,172,199,1) 0%, rgba(101,215,230,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, rgba(0,172,199,1) 0%, rgba(101,215,230,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(0,172,199,1) 0%, rgba(101,215,230,1) 100%); /* IE 10+ */
	background: linear-gradient(45deg, rgba(0,172,199,1) 0%, rgba(101,215,230,1) 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00acc7', endColorstr='#65d7e6', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
	border: 1px solid #2a353c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.submit:hover, .submit:active {
	background: rgba(0,172,199,1);/* Old Browsers */
	background: -moz-linear-gradient(-45deg, rgba(0,172,199,1) 0%, rgba(101,215,230,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,172,199,1)), color-stop(100%, rgba(101,215,230,1)));/* Chrome, Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(0,172,199,1) 0%, rgba(101,215,230,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(0,172,199,1) 0%, rgba(101,215,230,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(0,172,199,1) 0%, rgba(101,215,230,1) 100%); /* IE 10+ */
	background: linear-gradient(135deg, rgba(0,172,199,1) 0%, rgba(101,215,230,1) 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00acc7', endColorstr='#65d7e6', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}

.form-control-feedback {
	top:24px;
}

#activateProperty, #deactivateProperty {
	height:0;
	overflow:hidden;
}

#activateProperty.activatePropertyHere {
	background-color:#00AEC7;
	height:100px;
	line-height:70px;
	margin-bottom:15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align:center;
	-webkit-transition: height 500ms; /* Safari */
    transition: height 500ms;
}

#deactivateProperty.deactivatePropertyHere {
	background-color:#e1e0dd;
	height:100px;
	line-height:70px;
	margin-bottom:15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align:center;
	-webkit-transition: height 500ms; /* Safari */
    transition: height 500ms;
}


.error {
	
}

/* PANEL SECTION */

.dialog {
	display:none;
}

#createProperty {
	background:transparent;
	border:0;
	color:#00AEC7;
	font-size: 30px;
    margin-top: 20px;
}

#createProperty:hover {
	color:#38b449;
}

.property{
	border:1px solid #2a353c;
	margin-bottom:30px;
	padding-bottom:15px;
	background:rgba(255, 255, 255, 0.8);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.iconHeader {
	background:rgba(42, 53, 60, .9);
	color:#fff;
	height:35px;
	padding-top:5px;
	padding-bottom:5px;
}

.propertyImage {
	width:100%;
	height:auto;
	margin-top:-35px;
}

.propertyBeacons {
	display:none;
}

.glyphicon {
  -webkit-transition: all 500ms ease;  
  -moz-transition: all 500ms ease;  
  -o-transition: all 500ms ease;  
  -ms-transition: all 500ms ease;  
  transition: all 500ms ease;
}

.showList {
	transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
}

.hideList {
	transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
}

.loading {
	width: 100%;
    height: 250px;
    text-align: center;
    padding-top: 125px;
	background: #00AEC7;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.loading p {
	margin-top: -28px;
    margin-bottom: 10px;
}

.loading i {
	font-size:36px;
	color:#fff;
}


.dropBeaconHere {
	background-color:#38b449;
}

.canActivate, .isActive {
	cursor:move;
}



.canActivate .iconHeader i, .isActive .iconHeader i {
	cursor:help;
}

.canActivate .iconHeader a i, .isActive .iconHeader a i {
	cursor:pointer;
}

.iconHeader a:hover .fa-pencil-square-o, .iconHeader a:active .fa-pencil-square-o {
	color:#fff;
}


@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* DIALOG PANEL SECTION */

.deletePropertyAlert, .multiplePropertiesAlert, .propertyErrorAlert {
	padding:0;
	border:1px solid #2a353c;
}

.deletePropertyAlert .ui-dialog-content, .multiplePropertiesAlert .ui-dialog-content, .propertyErrorAlert .ui-dialog-content {
	padding:0;
}

.deletePropertyAlert .ui-dialog-titlebar {
	display:none;
}

.multiplePropertiesAlert .ui-dialog-titlebar, .propertyErrorAlert .ui-dialog-titlebar {
	background: rgba(42, 53, 60, .9);
	border:0;
	border-radius:0;
}

.propertyErrorAlert .ui-dialog-titlebar {
	background-color:#ef4036;
}

.multiplePropertiesAlert .ui-dialog-title, .propertyErrorAlert .ui-dialog-title {
	white-space:normal;
	overflow:visible;
	color:#fff;
	font-size:20px;
	text-align:center;
}

.multiplePropertiesAlert .ui-dialog-title .popupSubTitle {
	color:#00AEC7;
}

.multiplePropertiesAlert .ui-dialog-titlebar-close {
	background:#ef4036;
	top:15px;
}

.propertyErrorAlert .ui-dialog-titlebar-close {
	background:#2a353c;
	top:15px;
}

.multiplePropertiesAlert .dialogHeader, .multiplePropertiesAlert .dialogHeader p {
	margin:0;
}

.propertyAlreadyExists {
	text-align:center;
}

.multipleAddress {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #2a353c;
}

.multipleAddress:hover {
	background-color:#00AEC7;
	color:#fff;
	cursor:pointer;
}

.beacon {
	float:left;
	margin:10px;
	background-color:#fff;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
}

.beaconTitle {
	border:2px solid #00AEC7;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	height:60px;
	width:60px;
	line-height:60px;
	text-align:center;
	cursor:move;
	position:relative;
	z-index:1;
}

#activeBeacons .beaconTitle {
	border-color:#2a353c;
	background-color:#e1e0dd;
	color:#2a353c;
	cursor:not-allowed;
}

.propertyBeacons {
	padding-top:15px;
}

.propertyBeacons .beaconTitle {
	width: 40px;
    height: 40px;
    line-height: 36px;
}

.propertyBeacons .beaconRoom {
	padding-top: 15px;
}

.beacon h4 {
    line-height: 36px;
	position:relative;
	z-index:0;
}

.dialogHeader {
	background:rgba(42, 53, 60, .9);
	color:#fff;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}

.dialogImage {
	width:100%;
	height:auto;
}

.deletePropertyAlert .ui-dialog-buttonpane {
	padding:0;
}

.deletePropertyAlert .ui-dialog-buttonpane .ui-dialog-buttonset {
	float:none;
	text-align:center;
	margin:auto;
}

.ui-dialog .ui-dialog-buttonpane button.cancelButton {
	background-color:#2a353c;
	color:#fff;
}

.ui-dialog .ui-dialog-buttonpane button.deleteButton {
	background-color:#ef4036;
	color:#fff;
}


.ui-dialog .ui-dialog-buttonpane button.cancelButton:hover {
	background-color:#00AEC7;
	color:#2a353c;
}

.ui-dialog .ui-dialog-buttonpane button.deleteButton:hover {
	background-color:#2a353c;
	color:#ef4036;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4;
}

/* END DIALOG PANEL SECTION */


/* END PANEL SECTION */


/* PROPERTY SECTION */

/* LOCATION */
#address, #latitude, #longitude {
	margin-bottom:15px;
}
/* END LOCATION  */

/* DETAILS SECTION */


#prePopulateData {
	background:#fff;
	border:1px solid #00AEC7;
	padding-left:15px;
}

textarea {
  outline: none;
}

/* END DETAILS SECTION */


/* STEPS SECTION */

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
	cursor:pointer;
}

.wizard > .content > .body input.formInputError, .wizard > .content > .body textarea.formInputError {
	background:#ef4036;
	color:#333;
}

.inputErrorHolder {
	padding:15px;
	margin-top:10px;
	border:1px solid transparent;
}

.inputError {
	border:1px solid #ef4036;
	
}

.wizard > .content > .body input.formInputError::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}
.wizard > .content > .body input.formInputError::-moz-placeholder { /* Firefox 19+ */
  color: #333;
}
.wizard > .content > .body input.formInputError:-ms-input-placeholder { /* IE 10+ */
  color: #333;
}
.wizard > .content > .body input.formInputError:-moz-placeholder { /* Firefox 18- */
  color: #333;
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active{
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#map_for_latitude_longitude, #map_of_location {
	height:300px;
	width:100%;
}


/* END STEPS SECTION */


/* DETAILS SECTION */

.inputLabel label {
	margin-top:15px !important;
	padding-top:15px;
}

#status {
	height:80px;
}

#status h3 {
	margin-top:30px;
}
#status label {
	margin-top:15px !important;
	padding-top:15px;
}

.propertyIconBar {
	text-align:right;
}

.propertySaveIcons .fa-check-circle-o {
	color:#38b449;
}

.propertyNeedsToBeSaved {
	color:#ef4036;
}


#next_button.propertyNeedsToBeSaved {
	background:#ef4036 !important;
	color:#fff !important;
}


/* MEDIA SECTION */

.media-image {
	width:180px !important;
	height:150px;
	padding:15px;
}

.media-image-holder {
	position:relative;
}

.media-image-holder .fa-minus-circle {
	position:absolute;
	top:-5px;
	right:-5px;
	background-color:#ffffff;
	font-size:20px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	
}

.media-image-holder {
	width:150px !important;
	height:150px;
	cursor:move;
}

/* END MEDIA SECTION */


/* END DETAILS */

/* FEATURES AND TOURS */


#info_list .infoFeature {
	border:1px solid #2a353c;
	margin-top:30px;
	padding-bottom:15px;
	background:rgba(255, 255, 255, 0.8);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.propertyTextArea {
	height:250px;
}

.formLabel {
	font-style:italic;
	color:#00AEC7;
}

.formLabel input, .formLabel textarea {
	font-style:normal;
	color:#2a353c;
}

.subInfoHolder {
	border-top:1px solid #2a353c;
}

.featureTitle {
	text-align:center;
}

.add_info_show {
	padding:15px;
	border:1px solid #00AEC7;
	background: #00AEC7;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	color: #e1e0dd;
	text-align:center;
	font-weight:700;
}

.add_info_show:hover, .add_info_show:active {
	background:#e1e0dd;
	color:#2a353c;
}

.closeFeatureButton {
	background:#ef4036;
	border-color:#ef4036;
	font-weight:400;
}

.closeFeatureButton:hover, .closeFeatureButton:active {
	color:#ef4036;
}

.dropzone {
    border: 1px solid #ccc !important;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}

.dropzone .dz-preview .dz-image {
	-webkit-border-radius:2px !important;
	-moz-border-radius:2px !important;
	border-radius:2px !important;
}

.inputNotification {
	margin: 15px 0px;
    padding: 13px 15px;
	border:1px solid #2a353c;
}

.addInfoButton {
	padding:15px;
	margin-top:15px;
	text-align:center;
	color:#fff !important;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}

.addInfoButton.red {
	background:#ef4036;
}

.addInfoButton.blue {
	background:#00AEC7;
}

.addInfoButton.darkGrey {
	background:rgba(42, 53, 60, .9);
}

.imageSelect {
	padding:15px;
	height:150px;
	background:#fff;
	border:1px solid #ccc;	
}

.selectedImage {
	background:#99dfe9;
	border:1px solid #00AEC7;
}

.add360Image {
	padding:10px 15px;
	background:#00AEC7;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border:1px solid #00AEC7;
	color:#fff;
	margin-top:30px;
}

.wizard ul.row {
	margin-left:-15px;
	margin-right:-15px;
}

.Image360Header {
	background:#2a353c;
	padding-top:5px;
	padding-bottom:5px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.Image360Header i {
	color:#00AEC7;
}
.Image360Header .fa-minus-circle {
	color:#ef4036;
}

.Image360Thumb {	
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

/* END FEATURES AND TOURS */

/* END PROPERTY SECTION */

@media (max-width: 767px) {
	
	
	#status label {
		margin-bottom:15px;
	}
	
	.wizard.vertical > .content {
		margin:0px;
		padding:15px;
	}
	
	.wizard.vertical > .actions {
		text-align:center;
		margin:15px auto;
	}
	
	#login_page {
		background-image:url(/images/login_background_small.jpg);
	}
	
	.wizard.vertical > .steps {
		display: inline-block;
		float: none;
		width: 100%;
	}
	
	.steps ul {
		text-align: center;
	}
	
	.wizard.vertical > .steps > ul > li {
		width:60px;
		display:inline-block;
	}
	
	.steps .number {
		display:none;
	}
	
	.wizard.vertical > .content {
		width:100%;
	}

}

/* FILE BINDINGS */

.filedrag {
    border: 1px solid #ccc;
    border-radius: 2px;
	background-color:#fff;
    cursor: default;
    padding: 15px;
	margin-top:15px;
    margin-bottom: 20px;
}


.filedrag .drag-label {
    font-weight: bold;
    text-align: center;
    display: block;
    color: #2a353c;
    margin-top: 30px;
    margin-bottom: -10px;
}

.filedrag.hover {
    border-color: #38b449;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

.filedrag.hover .drag-label {
    color: #38b449;
}

.custom-file-input-wrapper {
    position: relative;
}

.custom-file-input-wrapper .custom-file-input-button {
    position: relative;
    overflow: hidden;
}

.custom-file-input-wrapper .custom-file-input-button * {
    cursor: pointer;
}

.custom-file-input-wrapper .custom-file-input-button input[type="file"] {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
}

.custom-file-input-button-group span {
	    padding: 15px;
    margin-top: 15px;
}